.container{display: flex; gap: 2rem; align-items: center;}
.card{width: 100px; height: 100px; box-shadow: ; border: 2px solid black;}
.red {
    background: red;
    box-shadow: 0px 0px 8px #830404;
}
.green {
    background: green;
    box-shadow: 0px 0px 8px #186601;
}
.orange{
    background: orange;
    box-shadow: 0px 0px 8px #e4a702;
}
.blue{
    background: blue;
    box-shadow: 0px 0px 8px #022892;
}
.pink{
    background: pink;
    box-shadow: 0px 0px 8px #aa01a2;
}
.yellow{
    background: yellow;
    box-shadow: 0px 0px 8px #c4c004;
}
.black{
    background: black;
    box-shadow: 0px 0px 8px #353331;
}

.loginContainer{
    padding: 1rem;
}